<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Trek API</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Star Trek</h1>

    <section class="row">
        <section class="column">
            <h2>Input API Data Here</h2>
            <form action="/api" method="POST">
                <input type="text" placeholder="Alien Name" name="name">
                <input type="text" placeholder="speciesName" name="speciesName">
                <textarea cols="40" rows="5" type="text" placeholder="features" name="features"></textarea>
                <input type="text" placeholder="Home World" name="homeWorld">
                <input type="text" placeholder="Image" name="image">
                <textarea cols="40" rows="5" type="text" placeholder="Interesting Facts" name="interestingFacts"></textarea>
                <input type="text" placeholder="Notable Examples" name="notableExamples">
                <button type="submit">Submit New</button>
                <button type="button" id="updateButton">Update Existing</button>
            </form>
        </section>

        <section class="column">
            <h2>Delete API Date HERE</h2>
            <input type="text" placeholder="Name to delete" name="deleteInput" id="deleteInput">
            <button id="deleteButton">Delete</button>

            <h2>Current Aliens</h2>
            <ul class="aliens">
                <% for (let i = 0; i < info.length; i++) { %>
                    <li class="alien">
                        <span><%= info[i] %></span>
                    </li>
                <% } %>
            </ul>
        </section>
    </section>


    <script src="/main.js"></script>
</body>
</html>